<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <title>$title$</title>

  <link type="text/css" rel="stylesheet" href="/css/default.css" />
  <link type="text/css" rel="stylesheet" href="/css/syntax.css" />
</head>

<body>
  <header><a id="toggle-sidebar" href="javascript:void(0);"><i class="fa fa-bars"></i></a></header>
  <aside>
    <section class="about">
      <img src="/images/profile-img.jpg" alt="Profile photo" />
      <h1>Vaclav Svejcar</h1>
      <h2>software developer</h2>
    </section>
    <nav>
      <ul>
        <li><a class="active" href="/">blog</a></li>
        <li><a href="/archive/">archive</a></li>
        <li><a href="/about/">about me</a></li>
      </ul>
    </nav>
    <div class="tag-cloud">$cloud$</div>
  </aside>
  <main>
    $body$
  </main>
  <footer>
    <div class="left">
      Copyright &copy; 2019 Vaclav Svejcar
    </div>
    <div class="right">
      powered by <a href="https://jaspervdj.be/hakyll/" target="_blank">hakyll</a>
    </div>
  </footer>

  <script type="application/javascript" src="js/main.js"></script>
</body>

</html>