<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="description" content="$description$" />
  
  $if(tags)$
  <meta name="keywords" content="$tags$" />
  $endif$

  $if(gaId)$
  <script async src="https://www.googletagmanager.com/gtag/js?id=$gaId$"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '$gaId$');
  </script>
  $endif$

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <title>$title$ - Vaclav Svejcar personal blog</title>

  <link type="text/css" rel="stylesheet" href="/assets/css/screen.css" />
  <link type="text/css" rel="stylesheet" href="/assets/css/syntax.css" />

  <script type="text/javascript" src="/assets/js/jquery-3.4.1.min.js"></script>
</head>

<body>
  <header><a id="toggle-sidebar" href="javascript:void(0);"><i class="fa fa-bars"></i></a></header>
  <aside>
    <section class="about">
      <a href="/">
        <img src="/assets/images/profile-img.jpg" alt="Profile photo" />
        <h1>Vaclav Svejcar</h1>
        <h2>software developer</h2>
      </a>
    </section>
    <ul class="social-links">
      <li><a href="https://github.com/vaclavsvejcar" target="_blank"><i class="fa fa-github-square"></i></a></li>
      <li><a href="https://www.linkedin.com/in/václav-švejcar-56665777/" target="_blank"><i
            class="fa fa-linkedin-square"></i></a></li>
    </ul>
    <nav>
      <ul>
        <li><a $if(page-blog)$ class="active" $endif$ href="/">blog</a></li>
        <li><a $if(page-archive)$ class="active" $endif$ href="/archive/">archive</a></li>
        <li><a $if(page-about)$ class="active" $endif$ href="/about/">about me</a></li>
      </ul>
    </nav>
    <div class="tag-cloud">$cloud$</div>
  </aside>
  <main>
    $body$
  </main>
  <footer>
    <div class="left">
      Copyright &copy; 2019 Vaclav Svejcar<br />
    </div>
    <div class="right">
      powered by <a href="https://jaspervdj.be/hakyll/" target="_blank">hakyll</a><br />
      build $buildTime$ | <a href="https://github.com/vaclavsvejcar/svejcar-dev" target="_blank">source code</a>
    </div>
  </footer>

  <script type="application/javascript" src="/assets/js/main.js"></script>
</body>

</html>