<article class="blog-post full">
    <header><a href="$url$">$title$</a></header>
    <div class="post-meta internal-links">
        <span class="date">$date$</span>
        $tags$
    </div>
    <div class="post-content">$body$</div>
    <div class="additional-info">Found any bug, error or typo? Let me know below in comments or <a href="https://github.com/vaclavsvejcar/svejcar-dev/issues" target="_blank">open issue on GitHub</a>.</div>
</article>
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.identifier = '$pageId$';
    };

    (function () {
        var d = document, s = d.createElement('script');
        s.src = 'https://svejcar-dev.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>
    Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>