.blog-post > .post-meta {
  > span.date {
    margin-right: 50px;
    text-transform: uppercase;
    color: $color-light-3;
  }

  > ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;

    font-size: 0.8em;

    > li {
      display: inline-block;

      &:not(:first-child) {
        margin-left: 10px;
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

.blog-post .read-more {
  border-top: 1px $color-light-2 solid;
  font-size: 0.8em;

  > a {
    display: block;
    padding: 10px 0;
  }
}

.blog-post .post-content {
  font-size: 0.9em;
  line-height: 150%;

  h1,
  h2,
  h3,
  h4 {
    margin-top: 30px;
  }

  h1 {
    font-size: 1.7em;
    color: #212121;
  }

  h2 {
    font-size: 1.4em;
    color: #424242;
  }

  h3 {
    font-size: 1.1em;
    color: #616161;
  }
}

.blog-post.full {
  margin-bottom: 50px;
}

#commento-footer {
  display: none;
}
